html {
	height: 100%;
}
body {
	height: 100%;
}
.demo-wrappper {
	display: table;
	width: 100%;
	height: 100%;
}
.demo-wrappper h1 {
	color: #fff;
	text-align: center;
	margin: 0;

	display: table-cell;
    vertical-align: middle;
}
@media all and (orientation:portrait) {
	body {
		background: #79b456;
	}
	.demo-wrappper .landscape {
		display: none;
	}
}
@media all and (orientation:landscape) {
	body {
		background-color: #34ef56;
	}
	.demo-wrappper .portrait {
		display: none;
	}
}
