<div class="social">
  <span>
    <iframe src="http://ghbtns.com/github-btn.html?user=maniotrix&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="175" height="20">
    </iframe>
  </span>


  <span class="fb-like" data-href={{ site.url  }}{{ page.url }} data-action="like" data-layout="button_count" data-show-faces="false" data-share="false" style="display: inline-flex;">
  </span>
  
<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

<!-- Place this tag where you want the widget to render. -->
<div class="g-follow" data-annotation="bubble" data-height="20" data-href="//plus.google.com/u/0/118359317547824382418" data-rel="author"></div>

</div>
